.nav .active {
  font-weight: bold;
  border-bottom: 2px solid #ffc107;
}

.top-nav {
  top: 82px;
}

.h-100vh-nav {
  height: calc(100vh - 82px);
}

.btn-warning-hover {
  color: $dark;
  &:hover {
    background-color: $danger;
    color: #fff;
    border-color: $danger;
  }
}

.btn-outline-secondary-hover:hover {
  &:hover {
    background-color: $warning;
    border-color: $warning;
    color: $secondary;
    & > .custom-heart {
      color: $danger;
    }
  }
  & > i {
    color: $secondary;
  }
}

.accordion-button:not(.collapsed) {
  background: none;
  color: $dark;
  &::after {
    filter: grayscale(100%);
  }
}

.news-img {
  width: 135px;
  height: 132px;
  @include media-breakpoint-up(sm) {
    width: 220px;
    height: 168px;
  }
}

.custom-icons {
  margin-right: 16px;
  @include media-breakpoint-down(sm) {
    & img {
      width: 20px;
      height: 20px;
    }
    & small {
      font-size: 12px;
    }
  }
}

.comment {
  &-title {
    line-height: 29px;
    font-size: 20px;
    text-decoration: none;
    color: $body-color;
    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }
  &-date {
    line-height: 20px;
    font-size: 14px;
    margin-top: 4px;
    letter-spacing: 2px;
    @include media-breakpoint-down(sm) {
      font-size: 12px;
    }
  }
}

.card-icon {
  width: 30px;
  height: 30px;
}
